.title-bar {
    align-items: center;
    color: black;
    background-color: #f68b08;
  }
  
  .title {
    text-align: center;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }

  .logo2{
    width: 90px;
    height: auto;
    margin-right: 5px;
  }